{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="contrainer">
<table>
<tr>
<td>id</td>
<td>email</td>
<td>nom</td>
<td>prenom</td>
<td>role</td>
<td>action</td>
</tr>
{% for user in users %}
<tr>
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.lastname}}</td>
    <td>
      {% for role in user.roles %}
      {{role}}
     {% endfor %}</td>
    <td>
    {% if ('ROLE_ADMIN' in user.roles)== false %}
          <a onclick="return confirm ('voulez-vous vraiùent affecter le role d'admin')" class=" btn btn-outline primary" href="{{path('app_user_to_editor',{'id':user.id})}}"> ajouter comme admin </a>

    {% endif %}
    <a href=""></a>
    <a href="" class="btn-danger">Supprimer</a>

    
    </td>
</tr>
{% endfor %}
</table>
</div>


{% endblock %}
